# =========================
# Java compiled files
# =========================
*.class

# =========================
# Java package files
# =========================
*.jar
*.war
*.ear

# =========================
# VS Code
# =========================
.vscode/

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db

# =========================
# Logs
# =========================
*.log

# =========================
# SQLite database
# =========================
# *.db
*.db-journal

# =========================
# Build / output folders
# =========================
bin/
out/
target/

# =========================
# Temporary files
# =========================
*.tmp
*.temp
